.docedit_docboard{
	background: #ededed;
	padding:1cm;
}

.docedit_document{
	
	margin-left: auto;
    margin-right: auto;
	width: 19.5cm;
	background: #fff;
	
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.66);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.66);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.66);
}


.docedit_document_head{
	padding:1.5cm 1.5cm 0 1.5cm ;
	position: relative;
}
.docedit_document_body{
	padding:0cm 1.5cm;
	position: relative;
	
	border-top: 1px dashed #fff;
	border-bottom: 1px dashed #fff;
	
  	transition: border-color 600ms;
  	-webkit-transition: border-color 600ms;
}
.docedit_document_body .docedit_infos{
	position: absolute;
	/*display:none;*/
	visibility: hidden;
  	opacity: 0;
  	transition: opacity 600ms, visibility 600ms;
  	-webkit-transition: opacity 600ms, visibility 600ms;
}
.docedit_document_body:hover .docedit_infos, .docedit_document_body:focus .docedit_infos{
	/*display:block;*/
  	visibility: visible;
  	opacity: 1;
}
.docedit_document_body:hover{
	border-top: 1px dashed #cccaca;
	border-bottom: 1px dashed #cccaca;
}

.docedit_document_body_text{
	overflow-x: scroll;
	min-height:2em;
}


.docedit_document_footer{
	padding:0cm 1.5cm 1.5cm 1.5cm;
	position: relative;
}

.docedit_document_pagebreak{
	margin:3.5em 0 3em 0;
	position: relative;
	text-align: center;
	border-bottom: 1px dashed #cccaca;
}

.docedit_infos_top{
	top:-2em;
	left:0;
	line-height:2em;
	background: #afd0de;
	padding: 0px 5px;
	text-align: center;
}

.docedit_infos_left{
	top:0;
	left:0;
	background: #fff;
	padding:5px;
	text-align: center;
}

.docedit_infos_icon{
	display : block;
	margin:0.5em 0;
	position:relative;
}

.docedit_document_option{
	margin-top: 2em;
}
.docedit_label{
	display:block;
}


.docedit_document_option_read_only{
	visibility: hidden;
  	opacity: 0;
  	transition: opacity 600ms, visibility 600ms;
  	-webkit-transition: opacity 600ms, visibility 600ms;
  	
	background: #afd0de;
	padding: 3px;
}
.docedit_document_body:hover .docedit_document_option_read_only, .docedit_document_body:focus .docedit_document_option_read_only{
  	visibility: visible;
  	opacity: 1;
}
